<img alt="background" class="bg" src="http://media.kotaku.foxtrot.future.net.uk/wp-content/uploads/sites/52/2015/06/top10_zombie_hunters_1.jpg">
<a href="<%= story_path(@story) %>">
<img alt="button" class="button" src="http://orig14.deviantart.net/b254/f/2007/275/f/b/enter_button_red_hover_by_yiangos.gif" height="150" width="150">
</a>