<img alt="background" class="bg" src="http://media.kotaku.foxtrot.future.net.uk/wp-content/uploads/sites/52/2015/06/top10_zombie_hunters_1.jpg">

<div class="preamble">
<h2 class="main_title">Pavocalypse</h2>
<p>The first cohort from Codeclan are enjoying some fun times in the common room when suddenly a loud and particularly girly scream emanates from down the corridor. The fact that this noise was loud enough to travel the length of the building and still have enough impact to interrupt a rather lively game of Catan was noted by all.</p>
<p>In his usual impressively entertaining way, Peter remarks that Simon must have been passing something so large that it might have split his ring in twain. The group laughs at his wit, but their jovial spirits are dashed by even more sounds of carnage from the corridor. They all rush out and into the main building just as Nevin comes bursting through from the other side and frantically braces against the door. He appears to be terrified by whatever is transpiring on the other side, given away by the spreading pool of urine emanating from his trouser leg.
“Help me brace the door!” he whines, “It’s Michael and he’s a fucking zombie”. The violent lashing on the other side and Nevin’s desperate attempts to hold the door closed was enough to convince the group to run to his aid. Tony interposed with his considerable strength whilst a group helped maneuver furniture. There was a brief worry as they came close; Michael’s blood-soaked face snarls through the thin pane of toughened glass “Door!” “Yes Michael?” “FUCKING OPEN!”. Luckily the portal in question abstained from following the barked command and the group was able to brace the door with heavy seats and tables. Finally the monstrous noises behind the door subsided and everyone breathed a sigh of relief.</p>
<p>“What the fuck is going on!” mumbled Simon.
“Never mind that shit - let’s get the fuck out of here!” screamed Keith.
The group frantically scrambled towards the “backdoor” - men ruthlessly pushing in front of women and climbing over one another to escape. Surprisingly, Neil makes it to the door first, but before he fully realises the horror on the other side of the glass - his movement causes the automatic door to open - letting in the 4 zombies waiting outside. He turns round and single handedly forces the oncoming tide of petrified programmers back into the common area, closing the separating door behind him just in time to save everyone. “Shit! We’re trapped” he proclaimed.</p></div>

<%= link_to image_tag("http://orig14.deviantart.net/b254/f/2007/275/f/b/enter_button_red_hover_by_yiangos.gif", height: 150, width: 150), story_path(@story), id: :enterButton %>

